//extends ../layout/balloon
//
//block variables
//    - var popup = 'popup';
//
//block content
//    div(class=popup)
//        = #{properties.spot}
////'<div class="popup">' +
////'<div class="popup__inner">' +
////'<div class="popup__header">' +
////'<div class="popup__address">{{ properties.address }} </div>' +
////'<button class="popup__close" id="popupClose"></button>' +
////'</div>' +
////'<div class="popup__reviews reviews">' +
////'<div class="reviews__list">' +
////'{% if !properties.reviews.length %}' +
////'<div class="reviews__empty">Отзывов пока нет...</div>' +
////'{% endif %}' +
////'{% for review in properties.reviews %}' +
////'<div class="reviews__item">' +
////'<div class="reviews__header">' +
////'<span class="reviews__author">{{review.name}}</span>' +
////'<span class="reviews__spot">{{review.spot}}</span>' +
////'<span class="reviews__date">{{review.date}}</span>' +
////'</div>' +
////'<div class="reviews__text">{{review.comment}}</div>' +
////'</div>' +
////'{% endfor %}' +
////'</div>' +
////'<div class="reviews__body">' +
////'<h2 class="reviews__title">Ваш отзыв</h2>' +
////'<form class="reviews__form form">' +
////'<input type="hidden" class="input form__coords" value="{{ properties.coords }}">' +
////'<input type="text" class="input form__name" name="name" placeholder="Ваше имя">' +
////'<input type="text" class="input form__spot" name="spot" placeholder="Укажите место">' +
////'<textarea name="comment" id="reviews__comment" cols="30" rows="6" class="textarea form__comment" placeholder="Поделитесь впечатлениями"></textarea>' +
////'<div class="form__action">' +
////'<button class="button form__button" id="addReview" type="button">Добавить</button>' +
////'</div>' +
////'</form>' +
////'<div class="visually_hidden" id="balloon_coords">{{properties.coords}}</div>' +
////'</div>' +
////'</div>' +
////'</div>' +
////'</div>'